[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
nltk = "*"

[dev-packages]
pylint = "*"
rope = "*"
"autopep8" = "*"

[requires]
python_version = "3.8"
